<!DOCTYPE html>
<html>
  <head>
    <title>Products Page - Website Name</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <%- include('../partials/imports') %>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <section class="root-section">
        <h2 class="text">Products</h2>
    </section>
  </body>
</html>