<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <%- include('../partials/imports') %>
  </head>
  <body>
  
    
    <section class="root-section">
        <h2 class="text">Register</h2>
    </section>
  </body>
</html>