<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <%- include('partials/imports') %>
  </head>
  <body>
    <%- include('partials/navbar') %>
  </body>
</html>
