<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/products" method="POST" enctype="multipart/form-data">
        <input type="text" name="productName" id="productName">
        <input type="file" name="product-image" id="product-image" accept=".png,.jpg,.jpeg">
        <input type="number" name="productPrice" id="productPrice">
        <input type="number" name="productInventory" id="productInventory">
        <input type="radio" name="productStatus" id="productActive" value="Active">Active
        <input type="radio" name="productStatus" id="productDraft" value="Draft">Draft
        <textarea name="productDescription" id="productDescription" cols="30" rows="10"></textarea>
        <button type="submit">submit</button>
    </form>
</body>
</html>