
    <div id="wrapper" >

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <div id="cart-details">
            <h3 class="cart-header">Cart</h3>
            <p class="cart-numitems">You have 6 items in the cart</p>
  
            <div class="cart-items">
              <div class="row d-flex cart-item align-items-center justify-content-center">
                <div class="col-3">
                  <img class="img-fluid item-img" src="https://images.unsplash.com/photo-1618354691373-d851c5c3a990?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c2hpcnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
                
                <div class="col-6 item-info" >
                  <div class="row ">
                    <div class="col-12 item-name" >Lorem ipsum lroem lorem m</div>
                    <div class="col-12 item-price">&#8377 2,15,458</div>
                  </div>
  
                
                </div>
                <div class="col-3 item-qty">
                  <!-- <select class="form-select item-qty-spec" aria-label="Default select example">
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    
                  </select> -->
                  
                </div>
              </div>
  
  
              <div class="row d-flex cart-item align-items-center justify-content-center">
                <div class="col-3">
                  <img class="img-fluid item-img" src="https://images.unsplash.com/photo-1618354691373-d851c5c3a990?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c2hpcnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
                
                <div class="col-6 item-info" >
                  <div class="row ">
                    <div class="col-12 item-name" >Lorem ipsum lroem lorem m</div>
                    <div class="col-12 item-price">&#8377 2,15,458</div>
                  </div>
  
                
                </div>
                <div class="col-3 item-qty">
                  <!-- <select class="form-select item-qty-spec" aria-label="Default select example">
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    
                  </select> -->
                  <!-- <button class="btn btn-sm btn-primary checkout-btn">Checkout</button> -->
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <button type="button" class="btn" id="btn-checkout" >Checkout 
                <span style="padding-left: 0.2rem;"><i class="fas fa-shopping-bag"></i></span>
              </button>
            </div>
         
            
            </div>
            </div>
        
  
        </div> 