<nav class="navbar navbar-expand-sm " id="shop-id">
    <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-cust-toggler-icon"><i class="fas fa-bars" style="color:rgb(255 255 255 / 90%);"></i></span>
    </button>
    <% if(role!="whole-seller"){%>
    
    <a class="navbar-brand ml-auto" href="/store/shop/<%=id%>"><%=st_name%></a>
    
    <!-- <li class="nav-item "> -->
     
    <!-- </li> -->
    <div class="collapse navbar-collapse  order-last" id="navbarSupportedContent" >
      <ul class="navbar-nav ">
        <li class="nav-item ">
          <a class="nav-link" href="/store/shop/<%=id%>">Home <span class="sr-only"></span></a>
        </li>
       
     

<li class="nav-item">
<a class="nav-link" href="/store/shop/<%=id%>/allproducts">Products</a>
</li>




       
      </ul>
    

     
      
       
       

     

    </div>
    
    <% console.log("Role ",role); %>
    <% if(role=="drop-shipper"){ %>
    <a  id="logout-link" class="nav-link  order-last" class="" href="/admin/logout">Logout <span class="sr-only"></span></a>
    <%} %>
   
    <% } else {%>
      <a class="navbar-brand mr-auto" href="/store/sell/wholesellproducts">Shoppers-Unite</a>

      <div class="collapse navbar-collapse  order-last" id="navbarSupportedContent">
        <ul class="navbar-nav ">
          <li class="nav-item ">
            <a class="nav-link" href="/store/sell/wholesellproducts">Home <span class="sr-only"></span></a>
          </li>
         
         
  <li class="nav-item">
  <a class="nav-link" href="#contact" >Contact</a>
  </li>

 
         
        </ul>
 
  
      </div>
      <a  id="logout-link" class="nav-link  order-last" class="" href="/admin/logout">Logout <span class="sr-only"></span></a>
      <%}%>
    
    
  
    <!-- <div class="collapse navbar-collapse  order-last" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item ">
          <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
        </li>
       
       
<li class="nav-item">
<a class="nav-link" href="#">Link</a>
</li>
       
      </ul>

    </div> -->
    
    <!-- cart -->
    <!-- <div class="cart order-0 order-sm-last">
    <ul class="navbar-right navbar-nav">
        <li class="nav-item" id="menu-toggle"><a class="nav-link" href="#" id="cart"><i class="fas fa-shopping-cart"></i> </a></li>
      </ul>
      </div> -->
      </div>
  </nav>