<footer class="main-footer" id="contact"> 
    <div class="row footer " >
      <div class="col-md-4">
        <p class="address"  >
          <p>Contact Us</p>

          <li><span><i class="fas fa-phone"></i></span>+91-818511505</li>
          <li><span><i class="fas fa-envelope"></i></span> abc@email.com</li>

          
        </p>
      
      
        </ul>
      </div>
      <div class="col-md-4  ">
        <p> Address</p>
      

        <p>
          Lorem ipsum dolor sit amet consecte 
          tur adipisicing elit. Minima
          repellat magnam, accusant
        </p>
      

      </div>

      <div class="col-md-4 d-flex justify-content-lg-center">
            
        <div>
        <p>Follow us:</p>
        <li><span><i class="fab fa-facebook"></i></span> Facebook</li>
        <li><span><i class="fab fa-twitter"></i></span> Twitter</li>
        <li> <span><i class="fab fa-instagram"></i></span> Instagram</li>
        <li> <span><i class="fab fa-youtube"></i></span> Youtube</li>
      </div>
       
        
      

      </div>
    </div>
    <hr class="hr">

    <div class="row footer-last  ">
      <div class="col-md-12"   style="text-align: center">
        © 2021  All Rights Reserved      

      </div>

    </div>
  </footer>